<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Innova&Patika </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/patika.jpg}" />
    <!--    <script th:src="@{/js/template.js}"></script>-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: blue">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--start codes-->
<!--th:action:getMapping
th:object:model key-->


<div class="row justify-content-center">
    <div class="col col-md-5 text-center">

<!--        <form th:method="post" th:action="@{/register}" th:object="${dto}">-->
            <!--            <img th:src="@{/img/innova.png}" height="225" width="225"/>-->
            <h1 class="display-4"> Sign In</h1>

            <div class="form-row py-1">
                <label>Email</label>
                <input type="text" class="form-control" name="emailAddress" th:value="*{emailAddress}">
<!--                <div th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></div>-->
            </div>

            <div class="form-row py-1">
                <label>Password</label>
                <input type="text" class="form-control" name="userPassword" th:value="*{userPassword}">
<!--                <div th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></div>-->
            </div>


            <div class="form-row py-1">
                <button type="submit" class="btn btn-info btn-block" style="background-color: blue">Log In</button>
            </div>


            <p class="py-2"> Don't you have an account? <a href="/register">Register</a></p>
        </form>
    </div>

</div>


<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>